<div class="d-flex align-center mb-3">
<form action="/answer" data-turbo="false">
  <label for="question">Your question</label>
  <input type="text" class="form-control" id="question" name="question">
  <button type="submit" class="btn btn-primary" value="Ask!">Ask!</button>
</form>
</div>
